
<div class="span9">
<div class="row-fluid">
<h2>Photo ...</h2>
<form class="form-horizontal well" method="post" enctype="multipart/form-data" action="/file-upload">
<fieldset>
          <legend>Upload Photo</legend>
    			<input class="input-file" type="file" name="thumbnail">
    			<input type="submit">
</fieldset>
</form>
</div>
</div>
