

<div id="socketout"></div>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('newPhoto', function (data) {
    	$('#socketout').prepend("<image src='"+data+"'/> ");
  });
</script>

